<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> JK Music player</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://kit.fontawesome.com/1d1ce9d282.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="musicplayer">
            <nav>
                <div class="circle">
                    <i class="fa-solid fa-angle-left" style="color: #18047c;"></i>
                </div>
                <div class="circle">
                    <i class="fa-solid fa-bars" style="color: #18047c;"></i>
                </div>
                
            </nav>
            <img src="media/pb6q1gcffqk91.jpg" class="song">
            <h1><b>STARBOY</b>
            </h1>
            <p>
              <b>  The WEEKnd  </b>
            </p>
            <audio controls> <source src="media/WhatsApp Audio 2023-10-26 at 21.25.47.mpeg" type="audio/mpeg"></audio>
            <input type="range" value="0" id="progress">
            <div class="controls">
                <div><i class="fa-solid fa-backward" style="color: #000000;"></i></div>
                <div><i class="fa-solid fa-play" style="color: #000000;"></i></div>
                <div><i class="fa-solid fa-forward" style="color: #000000;"></i></div>
                
            </div>

            
        </div>
    </div>
    
</body>
</html>